html, body {
  margin: 0;
  height: 100%;
  width:100%;
/*   overflow: hidden; */
  font-size:0.8rem;
/*   padding-bottom:500px !important; */
}

div#textgoeshere{
  font-size:1.3rem;
/*   margin-bottom:500px !important; */
}

h1 {
  color: fuchsia;
}
button{
  font-size:70%!important;
}
.indented{
  text-indent: 50px;
}